@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', Consolas, Arial;
    width: 100vw;
    height: 100vh;
    background: #d2cdba;
}

body * {
    box-sizing: border-box;
}

a {
    color: #d2cdba;
    text-decoration: none;
    transition: 0.3s;
}

a:hover{
    color: gold;
}

.logo{
    font-size: 24px;
    letter-spacing: 4px;
    text-transform: uppercase;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #232946;
    height: 6vh;
}

.main-login{
    width: 100vw;
    height: 100vh;
    background: #232946;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-login > h1 {
    font-size: 3vw;
    color: #d2cdba;
}

.left-login-image{
    width:35vw;
}

.right-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #121629;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
}

.card-login > h1{
    color: #d2cdba;
    font-weight: 800;
    margin: 0;
}

.textfield{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

.textfield > input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #b8c1ec;
    color: #121629;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
}

.textfield > label{
    color: #f0ffffde;
    margin-bottom: 10px;
}

.textfield > input::placeholder{
    color: #232946;
}

.btn-login{
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    color: #d2cdba;
    background: #078080;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #07808052;
}

@media only screen and (max-width: 950px){
    .card-login{
        width: 85%
    }
}

@media only screen and (max-width: 600px){
    .main-login{
        flex-direction: column;
    }

    .left-login > h1{
        display: none;
    }

    .left-login{
        width: 100%;
        height: auto;
    }

    .right-login{
        width: 100%;
        height: auto;
    }

    .left-login-image{
    width:75vw;
    }

    .card-login{
        width: 90%;
    }
}