<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Login</title>
</head>
<body>
    <div class="main-login">
        <div class="left-login">
            <h1>Olá!<br>Efetue seu login</h1>
            <img src="media\professora.svg" class="left-login-image" alt="Animação login"/>
        </div>
        <div class="right-login">
            <div class="card-login">
                <h1>LOGIN</h1>
                <div class="textfield">
                    <label for="email">Email</label>
                    <input type="text" name="email" placeholder="Digite seu email">
                </div>
                <div class="textfield">
                    <label for="senha">Senha</label>
                    <input type="password" name="senha" placeholder="Digite sua senha">
                </div>
                <button class="btn-login">Login</button>
                <a href="#">Cadastrar novo usuário</a>
            </div>
        </div>
    </div>
</body>
</html>